.navbar{
    background-color: black;
    width: 100%;
    /*position: fixed;*/
    height: 80px;
}
.navbar ul li a {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
    /*-webkit-transition: all 400ms ease;*/
    /*-moz-transition: all 400ms ease;*/
    /*-ms-transition:all 400ms ease;*/
    /*-o-transition: all 400ms ease;*/
    /*transition: all 400ms ease;*/
}
.navbar ul li a:hover {
    color: #FCEE21;
    font-weight: bold;
    /*-webkit-transition: all 400ms ease;*/
    /*-moz-transition: all 400ms ease;*/
    /*-ms-transition:all 400ms ease;*/
    /*-o-transition: all 400ms ease;*/
    /*transition: all 400ms ease;*/
}

a#Home{
    color: #FCEE21;
    font-weight: bold;
}

img.logo {
    height: 70px;
    width: 70px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;}