
img.card-img-top {
    height: 200px;
}

#scroll{
    background-color: black;
    width: 100%;
    height: 80px;
    position: fixed;
    transition: top 0.6s;
    top: 0;
    z-index: 9;
}

.navbar ul li a {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
    /*-webkit-transition: all 400ms ease;*/
    /*-moz-transition: all 400ms ease;*/
    /*-ms-transition:all 400ms ease;*/
    /*-o-transition: all 400ms ease;*/
    /*transition: all 400ms ease;*/
}
.navbar ul li a:hover {
    color: #FCEE21;
    font-weight: bold;
    /*-webkit-transition: all 400ms ease;*/
    /*-moz-transition: all 400ms ease;*/
    /*-ms-transition:all 400ms ease;*/
    /*-o-transition: all 400ms ease;*/
    /*transition: all 400ms ease;*/
}

img.logo {
    height: 60px;
    width: 60px;
}

a#navbarDropdownMenuLink{
    color: #FCEE21;
    font-weight: bold;
}

.padding-0{
    padding-top: 30px;
}

.padding-1{
    padding-bottom: 10px;
}

.padding-3{
    padding-top: 10px;
}

#sub{
    font-size: 14px;
    font-weight: bold;
}

.footer {
    font-size: small;
}



.schedule-rows td {
    width: 80px;
    height: 30px;
    margin: 3px;
    padding: 5px;
    background-color: #3498DB;
    cursor: pointer;
}

.schedule-rows td:first-child {

    background-color: transparent;
    text-align: right;
    position: relative;
    top: -12px;
}

.schedule-rows td[data-selected],

.schedule-rows td[data-selecting] { background-color: #E74C3C; }

.schedule-rows td[data-disabled] { opacity: 0.55; }

div.container{
    margin-top: 80px;
}

img.center {
    display: block;
    margin-left: 140px;
    margin-right:140px;
}

#menu {
    color: black;
}
#menu2 {
    color: black;
}
#menu3 {
    color:black;
}

#menu:hover{
    text-decoration: underline;
    font-weight: normal;
}

#menu2:hover{
    text-decoration: underline;
    font-weight: normal;
}

#menu3:hover{
    text-decoration: underline;
    font-weight: normal;
}