img.card-img-top {
    height: 200px;
}
.navbar{
    background-color: black;
    width: 100%;
    /*position: fixed;*/
    height: 80px;
}
.navbar ul li a {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
    /*-webkit-transition: all 400ms ease;*/
    /*-moz-transition: all 400ms ease;*/
    /*-ms-transition:all 400ms ease;*/
    /*-o-transition: all 400ms ease;*/
    /*transition: all 400ms ease;*/
}
.navbar ul li a:hover {
    color: #ffc107;
    font-weight: bold;
    /*-webkit-transition: all 400ms ease;*/
    /*-moz-transition: all 400ms ease;*/
    /*-ms-transition:all 400ms ease;*/
    /*-o-transition: all 400ms ease;*/
    /*transition: all 400ms ease;*/
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffdb00;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

img.logo {
    height: 70px;
    width: 70px;
}